aiohttp==3.5.4
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
dblpy==0.3.3
discord==1.0.1
discord.py==1.2.5
env-file==2019.4.13
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
multidict==4.7.4
psutil==5.6.7
public==2019.4.13
pywin32==227
ratelimiter==1.2.0.post0
requests==2.22.0
soupsieve==1.9.5
swaglyrics==1.1.1
SwaglyricsBot==0.0.1
SwSpotify==1.1.1
Unidecode==1.1.1
urllib3==1.25.7
values==2019.4.13
websockets==6.0
Werkzeug==0.16.0
yarl==1.4.2
